body {
  width: 100%;
}

h4{
  font-family: 'Teko', sans-serif;
}
#top_banner{
  font-family: 'Teko', sans-serif;
}

label{
  font-family: 'Changa', sans-serif;
}

.row {
  margin: 0 auto;
  display:flex;
  position: relative;
}

#button_wrapper {
  margin: 0 auto;
  width: 100%;

}
#chart_wrapper {
  margin: 0 auto;
  margin-top: 50px;
  width:100%

}

#home_button {
  font-family: 'Teko', sans-serif;
  margin: 20px;
  margin-left: 50px;
  font-size: 40px;
  background-color: #f15029;
}

#refresh_button {
  font-family: 'Teko', sans-serif;
  margin: 20px;
  margin-left: 50px;
  font-size: 40px;
  background-color: #f15029;
}

.charts {
  margin: 0 auto;
  height: 800px;
  width: 1000px;
  /* width: 70%; */
}
