body{
  background-image: url("cubes.png")
}

h4{
  font-family: 'Teko', sans-serif;
}
#top_banner{
  font-family: 'Teko', sans-serif;
}

label{
  font-family: 'Changa', sans-serif;
}

#create_button_wrapper {
  text-align: center;
}

#create_button {
    margin: 20px;
    font-size: 40px;
    font-family: 'Teko', sans-serif;
    background-color: #f15029;

}

#analyze_button {
    margin: 20px;
    font-size: 40px;
    font-family: 'Teko', sans-serif;
    background-color: #f15029;

}

#footer{
  text-align: center;
  justify-content: space-around;

}

#save_button{
  text-align: center;
  justify-content: space-around;
  background-color: #f15029;
}

#cancel_button{
  text-align: center;
  justify-content: space-around;
  background-color: #f15029;
}

#delete_button{
  text-align: center;
  justify-content: space-around;
  background-color:#f15029;
}

body .modal{
  max-height: 90%;
  max-width:80%;
}

.datepicker {
  width: 50%;
  height: 50%
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 50%;
  left:42%;
  background-color: #f15029
}
