
a.collection-item.active {
  background-color: black;
}
#create_button_wrapper {
    text-align: center;
}

#create_button {
    margin: 20px;
    font-size: 40px;
    background-color: #f15029;
}

#footer{
  text-align: center;
  justify-content: space-around;

}

#save_button{
  text-align: center;
  justify-content: space-around;
}


#cancel_button{
  text-align: center;
  justify-content: space-around;
}

#delete_button{
  text-align: center;
  justify-content: space-around;
}

.modal{
  width: 80% !important;
  max-height: 80% !important;
}
