
a.collection-item.active {
  background-color: black;
}
#create_button_wrapper {
    text-align: center;
}

#create_button {
    margin: 20px;
    font-size: 40px;
    background-color: #f15029;
}

#footer{
  text-align: center;
  justify-content: space-around;

}

#save_button{
  text-align: center;
  justify-content: space-around;
  background-color: #f15029;
}


#cancel_button{
  text-align: center;
  justify-content: space-around;
  background-color: #f15029;
}

#delete_button{
  text-align: center;
  justify-content: space-around;
  background-color:#f15029;
}

body .modal{
  width: 600px !important;
  height: 700px !important;
}

.datepicker {
  width: 50%
}
.picker__date-display {
  background-color:#f15029;
}
.picker__year-display {
  background-color:#f15029;
}
.picker__month-display {
  background-color:#f15029;
}
.picker__day-display {
  background-color:#f15029;
}
.picker__weekday-display {
  background-color:#f15029;
}
.picker__day--selected.picker__day--selected:hover.picker--focused .picker__day--selected {
  background-color:#f15029;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 50%;
  left:42%;
  background-color: #f15029
}
